.Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    gap:1px

}
.Wrapper button{
    border: none;
    outline: none;
    font-size: 22px;
    border-radius: 4px;
    padding: 15px 20px;
}
button.plus{
    background-color: blue;
}
button.minus{
    background-color: red;
}
button.reset{
    background-color: chocolate;
}
p {
    font-size: 24px;
    margin: 0;
    width: 40px;
    text-align: center;
  }
.control{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}